[submodule "LRT/Application/prefactor-sandbox/prefactor"]
	path = LRT/Application/prefactor-sandbox/prefactor
	url = https://github.com/apmechev/prefactor
[submodule "LRT/Application/prefactor-sandbox/openTSDB_tcollector"]
        path = LRT/Application/prefactor-sandbox/openTSDB_tcollector
        url = https://github.com/OpenTSDB/tcollector


