#prefactor_calibrator_token
# INSIGHT! variables with step.{VAR} will be filled by the step! Only one place to define them :):):)

"_attachments":  # the file "parset" is attached from the step.cfg
    srm.txt: smfile
OBSID: ""
start_SB: 000
SBXloc: "gsiftp://gridftp.grid.sara.nl:2811/pnfs/grid.sara.nl/data/lofar/user/sksp/spectroscopy-migrated/sandbox/ndppp_cal_sandbox.tar"
lock: 0
done: 0
hostname: ""
output: ""
"lofar_sw_dir": "/cvmfs/softdrive.nl/lofar_sw/LOFAR/2.20.2"
pipeline: "ndppp_cal"
progress: 0
scrub_count: 0
status: queued
results_dir: "gsiftp://gridftp.grid.sara.nl:2811/pnfs/grid.sara.nl/data/lofar/user/sksp/spectroscopy-migrated/ndppp/cal_tables/"
times: {}
type: test
