#prefactor_calibrator_token

"_attachments":  # the file 'parset' is attached from the step.cfg
    parset: "step.parset"
    srm.txt: "step.srmfile"
OBSID : ""
SBXloc: "gsiftp://gridftp.grid.sara.nl:2811/pnfs/grid.sara.nl/data/lofar/user/sksp/spectroscopy-migrated/sandbox/targ2_sandbox.tar"
CAL_OBSID : ""
ABN : ""
FREQ : ""
lock : 0
done : 0
hostname : ""
output : ""
lofar_sw_dir : "/cvmfs/softdrive.nl/lofar_sw/LOFAR/2.20.2"
pipeline : "pref_targ2"
progress : 0
scrub_count : 0
status : "queued"
times : {}
type : pref_
