#prefactor_calibrator_token

_id:[t_pref,^step.field,targ1,SBN,^step.sbndict.key]
_attachments:  # the file 'parset' is attached from the step.cfg
    parset: ^step.parset
    srm.txt: ^step.srmfile
OBSID:^step.OBSID
CAL_OBSID:^step.cal_OBSID #how? self.cal_OBSID=prev_step.OBSID?
ABN:''
FREQ:''
lock:0
done:0
hostname:''
output:''
lofar_sw_dir:/cvmfs/softdrive.nl/lofar_sw/LOFAR/2.19
pipeline:pref_targ1
progress:0
scrub_count:0
status:queued
times:{}
type:pref_
