#prefactor_calibrator_token
# INSIGHT! variables with step.{VAR} will be filled by the step! Only one place to define them :):):)

'_attachments':  # the file 'parset' is attached from the step.cfg
    parset: Pre-Facet-Calibrator-2.parset
OBSID: ''
SBXloc: gsiftp://gridftp.grid.sara.nl:2811/pnfs/grid.sara.nl/data/lofar/user/sksp/spectroscopy-migrated/sandbox/cal2_sandbox.tar
lock: 0
done: 0
hostname: ''
output: ''
'lofar_sw_dir': /cvmfs/softdrive.nl/lofar_sw/LOFAR/2.19
pipeline: 'pref_cal2'
progress: 0
scrub_count: 0
status: queued
results_dir: "gsiftp://gridftp.grid.sara.nl:2811/pnfs/grid.sara.nl/data/lofar/user/sksp/spectroscopy-migrated/prefactor/cal_sols/" 
times: {}
type: test
