#Prefactor calibrator sandbox

sandbox:
    name: pref_cal1
    loc: "gsiftp://gridftp.grid.sara.nl:2811/pnfs/grid.sara.nl/data/lofar/user/sksp/spectroscopy-migrated/sandbox"
    loc2: None
    type: lofar_prefactor
    git_scripts: #pulls scripts to make sandbox
        prefactor:
            git_url: "https://github.com/apmechev/prefactor.git"
            commit: "c625e8f"    
        tcollector:
            git_url: "https://gitlab.com/apmechev/procfs_tcollector.git"
            branch: "master"
    remove_when_done: False

reduction_params:
   OBSID: &OBS L000000          #MUST be set by other script or taken from Token
   START_SB: &SB 000

token:
    token_type: &toktype default_token_type     #Here lies the id linking the different pipelines
    keys:
        pipeline: pref_cal1

tokvar: #token values -> Bash variables 
    '_id': '$TOKEN'
    OBSID : '$OBSID'
    start_SB: '$STARTSB'
    lofar_sw_dir : '$LOFAR_PATH'
    pipeline: '$PIPELINE'
    '_attachments':
        Pre-Facet-Calibrator-1.parset: '$PARSET'
        srm.txt : srm.txt


executable:
    launcher:                   #This is what is submitted to the queue
        name: run_remote_sandbox.sh
        params:
            - $PICAS_DB
            - $PICAS_USR 
            - $PICAS_USR_PWD
            - *toktype 
    exe:                        #this/these is/are what is executed by pilot.py in order 
        - master.sh
