# YAML
step_name: pref_cal
token: pref_cal_token #the type field of the token is set in the LRT
sandbox: prefactor_cal_sbx
options:
    parset: Pre_Facet_Cal.parset
    smrfile: test.srm
    resub-error-only: False
    num-per-node: 244
    ignore-unstaged:False
    jdl:remote-prefactor-cal.jdl
    software-dir:/cvmfs/softdrive.nl/lofar_sw/LOFAR/
    software-ver: 2.19
    force-stage: False # this step doesn't stage by default

